/* style.css */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: black;
    font-family: 'Arial', sans-serif;
}

/* Le ROBOT (Au fond) */
#robot-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1; 
    pointer-events: none;
}

/* Le TITRE (Au milieu, bien protégé) */
#welcome-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%; /* On limite la largeur pour laisser de la place au robot sur les côtés */
    text-align: center;
    color: white;
    font-size: 80px;
    font-weight: 900;
    text-transform: uppercase;
    z-index: 10; /* Devant le robot */
    text-shadow: 0 0 40px rgba(226, 0, 26, 0.8);
    pointer-events: none;
}

/* La BULLE (Tout devant) */
.bubble {
    position: absolute;
    background: #fff;
    border-radius: 25px;
    padding: 12px 20px;
    font-family: 'Verdana', sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #000;
    min-width: 160px;
    max-width: 280px;
    border: 3px solid #000;
    box-shadow: 0 5px 20px rgba(0,0,0,0.5);
    opacity: 0;
    transition: opacity 0.3s;
    pointer-events: none;
    z-index: 20; 
    top: 0; left: 0;
}

.bubble:after {
    content: ''; position: absolute; bottom: -10px; left: 50%;
    border-width: 10px 10px 0; border-style: solid; border-color: #fff transparent;
    margin-left: -10px;
}
.bubble:before {
    content: ''; position: absolute; bottom: -15px; left: 50%;
    border-width: 12px 12px 0; border-style: solid; border-color: #000 transparent;
    margin-left: -12px;
}
