/* style.css */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: black;
    font-family: 'Arial', sans-serif;
}

/* Le ROBOT (Au fond, z-index 1) */
#robot-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1; 
    pointer-events: none;
}

/* Le TITRE (Au milieu, z-index 10) */
#welcome-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    color: white;
    font-size: 90px;
    font-weight: 900;
    text-transform: uppercase;
    z-index: 10;
    text-shadow: 0 0 40px rgba(226, 0, 26, 0.6);
    pointer-events: none;
}

/* La BULLE (Tout devant, z-index 20) */
.bubble {
    position: absolute;
    background: #fff;
    border-radius: 25px;
    padding: 15px 25px;
    font-family: 'Verdana', sans-serif;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    color: #000;
    min-width: 180px;
    max-width: 300px;
    border: 4px solid #000;
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
    opacity: 0;
    transition: opacity 0.3s; /* Transition rapide */
    pointer-events: none;
    z-index: 20; 
    top: 0; left: 0;
}

/* La queue de la bulle */
.bubble:after {
    content: ''; position: absolute; bottom: -10px; left: 50%;
    border-width: 10px 10px 0; border-style: solid; border-color: #fff transparent;
    margin-left: -10px;
}
.bubble:before {
    content: ''; position: absolute; bottom: -16px; left: 50%;
    border-width: 12px 12px 0; border-style: solid; border-color: #000 transparent;
    margin-left: -12px;
}
