/* style.css */
body {
    margin: 0;
    overflow: hidden;
    background-color: black; /* Fond noir pour l'app */
    font-family: Arial, sans-serif;
}

#robot-container {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1; /* Le robot est au fond */
    overflow: hidden;
}

/* Le Titre Bienvenue */
#welcome-text {
    position: absolute;
    top: 15%; /* Position verticale du titre */
    width: 100%;
    text-align: center;
    color: white;
    font-size: 70px; /* Un peu plus petit pour l'équilibre */
    font-weight: bold;
    text-transform: uppercase;
    z-index: 0; 
    text-shadow: 0 0 20px rgba(226, 0, 26, 0.8);
    pointer-events: none;
}

/* La Bulle de Dialogue (Style BD) */
.bubble {
    position: absolute;
    background: #fff;
    border-radius: 30px;
    padding: 15px 25px;
    font-family: 'Comic Sans MS', 'Verdana', sans-serif;
    font-size: 20px; /* Texte plus lisible */
    font-weight: bold;
    text-align: center;
    color: #000;
    min-width: 150px;
    max-width: 250px;
    border: 4px solid #000;
    box-shadow: 5px 5px 0px rgba(255,255,255,0.2);
    opacity: 0; /* Cachée par défaut, gérée par JS */
    transition: opacity 0.3s, top 0.1s, left 0.1s;
    pointer-events: none;
    z-index: 9999; /* TRES IMPORTANT : Au dessus de tout */
}

/* La flèche de la bulle */
.bubble:after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 50%;
    border-width: 10px 10px 0;
    border-style: solid;
    border-color: #fff transparent;
    display: block;
    width: 0;
    margin-left: -10px;
}
.bubble:before {
    content: '';
    position: absolute;
    bottom: -16px;
    left: 50%;
    border-width: 12px 12px 0;
    border-style: solid;
    border-color: #000 transparent;
    display: block;
    width: 0;
    margin-left: -12px;
}
