#robot-container {
    width: 100%;
    height: 500px;
    margin: 0 auto;
    background-color: transparent; /* IMPORTANT : Fond transparent */
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    z-index: 10;
}
